* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background: #efefef;
}
header .header_inner {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 21px 0 0;
}
header .header_inner h1 {
  margin-top: -9px;
}
header .header_inner nav {
  margin-left: 50px;
}
header .header_inner nav .gnb {
  display: flex;
  gap: 20px;
}
header .header_inner nav .gnb a {
  font: 16px "arial";
}
header .header_inner .util {
  display: flex;
  gap: 15px;
  margin-left: auto;
}
header .header_inner .util li a {
  font: 16px "arial";
}
header .header_inner .btn_mo {
  display: none;
  margin-left: auto;
}
header .header_inner a {
  color: #464644;
}

@media screen and (max-width: 1300px) {
  header .header_inner {
    width: 100%;
    padding: 21px 4% 0;
  }
}
@media screen and (max-width: 999px) {
  header .header_inner nav {
    display: none;
  }
  header .header_inner .util {
    display: none;
  }
  header .header_inner .btn_mo {
    display: block;
    font-size: 20px;
  }
}
footer .footer_inner {
  width: 1200px;
  margin: 0 auto;
}
footer .upper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
footer .upper .list {
  margin-left: 150px;
  display: flex;
  gap: 60px;
}
footer .upper .list > li > a {
  display: block;
  margin-bottom: 10px;
  color: #222;
  font: bold 15px "arial";
}
footer .upper .list > li ul li {
  padding: 8px 0;
}
footer .upper .list > li ul li a {
  display: block;
  font-size: 14px;
  color: #888;
}
footer .upper .util_wrap {
  margin-left: 280px;
}
footer .upper .util_wrap .util .input_wrap {
  margin-bottom: 10px;
}
footer .upper .util_wrap .util .input_wrap label {
  display: block;
  font-weight: bold;
}
footer .upper .util_wrap .util .input_wrap input[type=text] {
  width: 100%;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #000;
}
footer .upper .util_wrap .util .chk_wrap {
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
}
footer .upper .util_wrap .util .chk_wrap input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 7px;
}
footer .upper .util_wrap .util .chk_wrap label {
  font-size: 14px;
}
footer .upper .util_wrap .sns_list {
  display: flex;
  gap: 9px;
}
footer .upper .util_wrap .sns_list li a {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid #888;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #222;
}
footer .lower {
  display: flex;
  gap: 50px;
  padding: 30px 0 100px;
  color: #888;
}
footer .lower address {
  font-style: normal;
}

@media screen and (max-width: 1300px) {
  footer .footer_inner {
    width: 100%;
    padding: 0 4%;
  }
  footer .upper .list {
    margin-left: 100px;
  }
  footer .upper .util_wrap {
    margin-left: 100px;
  }
  footer .lower {
    padding: 30px 0 60px;
  }
}
@media screen and (max-width: 999px) {
  footer .upper {
    flex-wrap: wrap;
  }
  footer .upper .list {
    margin-left: auto;
  }
  footer .upper .util_wrap {
    margin: 50px 0 0 0;
    width: 100%;
  }
  footer .lower {
    display: block;
  }
  footer .lower p {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 639px) {
  footer .upper {
    display: block;
  }
  footer .upper .logo {
    margin-bottom: 20px;
  }
  footer .upper .list {
    display: block;
    margin-left: 0;
    gap: 0;
    font-size: 0;
  }
  footer .upper .list > li {
    display: inline-block;
    width: 48%;
  }
  footer .upper .list > li:nth-child(n+3) {
    margin-top: 40px;
  }
  footer .upper .list > li:nth-child(even) {
    margin-left: 4%;
  }
  footer .lower {
    display: block;
  }
  footer .lower p {
    margin-bottom: 10px;
  }
}
main {
  padding-bottom: 200px;
}
main section {
  margin-bottom: 150px;
}
main section:last-child {
  margin-bottom: 0;
}
main .inner {
  max-width: 1240px;
  width: auto;
  margin: 0 auto;
  padding: 0 2vw;
}
main .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #222;
  border-radius: 100%;
}

@media screen and (max-width: 1300px) {
  main .inner {
    width: 100%;
  }
}
@media screen and (max-width: 999px) {
  main .inner {
    padding: 0 5vw;
  }
}
.container {
  padding-bottom: 150px;
}
.container section .inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5vw;
}
.container section:first-of-type {
  padding-top: 100px;
}
.container .subVisual {
  width: 100%;
  height: 250px;
  background: gray;
}

@media screen and (max-width: 1300px) {
  .container section .inner {
    max-width: 100%;
  }
}
#visualWrap {
  padding-top: 70px;
  margin-bottom: 180px;
}
#visualWrap h1 {
  display: flex;
  font: bold 140px "arial";
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  letter-spacing: -0.01em;
}
#visualWrap h1 .title:nth-of-type(2) {
  margin-left: 30px;
}
#visualWrap h1 .title.small {
  padding: 50px 40px 0 0;
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 0em;
}
#visualWrap h1 .title.small span {
  display: block;
}
#visualWrap h1 .title.small span.line {
  width: 170px;
  height: 1px;
  margin-top: 10px;
  background-color: #222;
}
#visualWrap h1 .title.last {
  font-style: italic;
}
#visualWrap .img {
  width: 100%;
  height: 400px;
  background-color: #efefef;
  margin-bottom: 20px;
}
#visualWrap .txt_wrap {
  display: flex;
  justify-content: space-between;
}
#visualWrap .txt_wrap .txt {
  position: relative;
  width: 50%;
  padding-top: 10px;
}
#visualWrap .txt_wrap .txt::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #efefee;
}
#visualWrap .txt_wrap .txt .dot {
  position: absolute;
  right: 0;
  top: 10px;
}
#visualWrap .txt_wrap .btn {
  display: inline-block;
  width: 140px;
  height: 28px;
  font: 12px/28px "arial";
  background-color: #000;
  border-radius: 14px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1300px) {
  #visualWrap h1 {
    font-size: 10vw;
  }
  #visualWrap .txt_wrap .txt {
    padding-right: 5%;
  }
}
@media screen and (max-width: 999px) {
  #visualWrap h1 {
    font-size: 8vw;
  }
  #visualWrap h1 .title.small {
    padding: 20px 20px 0 0;
    margin-left: 20px;
  }
}
@media screen and (max-width: 639px) {
  #visualWrap {
    padding-top: 30px;
  }
  #visualWrap h1 .title:nth-of-type(2) {
    margin-left: 10px;
  }
  #visualWrap h1 .title.small {
    padding: 10px 10px 0 0;
    margin-left: 10px;
    font-size: 12px;
  }
  #visualWrap h1 .title.small span.line {
    width: 130px;
    height: 1px;
    margin-top: 10px;
  }
  #visualWrap h1 .title.last {
    font-style: italic;
  }
  #visualWrap .img {
    height: 300px;
  }
  #visualWrap .txt_wrap {
    flex-wrap: wrap;
  }
  #visualWrap .txt_wrap .txt {
    padding-right: 0;
    width: 100%;
    margin-bottom: 30px;
  }
  #visualWrap .txt_wrap .txt .dot {
    display: none;
  }
  #visualWrap .txt_wrap .btn {
    display: block;
    height: 40px;
    font: 12px/40px "arial";
    border-radius: 20px;
    margin: 0 auto;
  }
}
#newProduct .content {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
#newProduct .content .product_area {
  display: flex;
}
#newProduct .content .product_area .item {
  width: 240px;
}
#newProduct .content .product_area .item .slide_wrap {
  width: 100%;
  height: 240px;
  margin-bottom: 10px;
  background: #efefef;
}
#newProduct .content .product_area .item.center {
  margin-left: 20px;
  width: 410px;
}
#newProduct .content .product_area .item.center .slide_wrap {
  width: 100%;
  height: 410px;
}
#newProduct .content .product_area .item.last {
  margin-left: 110px;
}
#newProduct .content .product_area .item a {
  display: flex;
  justify-content: space-between;
  color: #222;
}
#newProduct .content .product_area .item a .info .name {
  font-weight: 600;
}
#newProduct .content .product_area .item a .info .txt {
  color: #888;
}
#newProduct .content .product_area .item a .price {
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  #newProduct .content .product_area {
    gap: 2%;
  }
  #newProduct .content .product_area .item {
    flex: 1;
  }
  #newProduct .content .product_area .item.center {
    margin-left: 0;
    flex: none;
    width: 380px;
  }
  #newProduct .content .product_area .item.center .slide_wrap {
    height: 380px;
  }
  #newProduct .content .product_area .item.last {
    margin-left: 0;
  }
}
@media screen and (max-width: 999px) {
  #newProduct .content {
    display: block;
  }
  #newProduct .content .title_area {
    margin-bottom: 30px;
  }
  #newProduct .content .product_area .item.center {
    flex: 1;
  }
  #newProduct .content .product_area .item.center .slide_wrap {
    height: 240px;
  }
}
@media screen and (max-width: 639px) {
  #newProduct .content .product_area {
    flex-wrap: wrap;
  }
  #newProduct .content .product_area .item {
    flex: none;
    width: 100%;
  }
  #newProduct .content .product_area .item.center {
    width: 100%;
  }
  #newProduct .content .product_area .item + .item {
    margin: 50px 0 0 0;
  }
}
#imprv .content {
  display: flex;
  gap: 235px;
  margin-bottom: 50px;
}
#imprv .content .txt_area {
  width: 410px;
}
#imprv .content .txt_area p:first-of-type {
  margin-bottom: 20px;
  font-size: 20px;
}
#imprv .acco_wrap {
  margin-bottom: 30px;
}
#imprv .acco_wrap .list li {
  border-bottom: 1px solid #ddd;
}
#imprv .acco_wrap .list li:last-of-type {
  border: 0;
}
#imprv .acco_wrap .list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 230px;
  padding: 15px 0;
  color: #222;
  font: bold 18px "arial";
}
#imprv .acco_wrap .list li a .num {
  display: inline-block;
  flex-shrink: 0;
  width: 210px;
}
#imprv .acco_wrap .list li a .icon {
  position: relative;
  margin-left: auto;
  width: 30px;
  height: 30px;
  border: 1px solid #222;
  border-radius: 50%;
}
#imprv .acco_wrap .list li a .icon::before, #imprv .acco_wrap .list li a .icon::after {
  content: "";
  position: absolute;
  top: 50%;
  background-color: #222;
  transform: translate(-50%, -50%);
}
#imprv .acco_wrap .list li a .icon::before {
  display: none;
  left: 50%;
  width: 2px;
  height: 60%;
}
#imprv .acco_wrap .list li a .icon::after {
  left: 50%;
  width: 60%;
  height: 2px;
}
#imprv .acco_wrap .list li .box {
  gap: 240px;
  padding-bottom: 30px;
  display: none;
}
#imprv .acco_wrap .list li .box .img_area {
  flex-shrink: 0;
  width: 200px;
}
#imprv .acco_wrap .list li .box .img_area .img {
  width: 100%;
  height: 200px;
  background-color: #ddd;
}
#imprv .acco_wrap .list li .box .txt {
  width: 410px;
}
#imprv .acco_wrap .list li .box .txt p + p {
  margin-top: 20px;
}
#imprv .acco_wrap .list li.on a .icon::before {
  display: block;
}
#imprv .acco_wrap .list li.on .box {
  display: flex;
}
#imprv .btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
#imprv .btn_wrap .btn {
  display: inline-block;
  height: 40px;
  padding: 0 30px;
  font: 12px/38px "arial";
  border: 1px solid #000;
  border-radius: 20px;
  text-align: center;
  color: #000;
}

@media screen and (max-width: 999px) {
  #imprv .content {
    gap: 0;
    flex-wrap: wrap;
  }
  #imprv .content .title_area {
    width: 100%;
    margin-bottom: 30px;
  }
  #imprv .content .txt_area {
    width: 100%;
  }
  #imprv .acco_wrap .list li a {
    gap: 5%;
  }
  #imprv .acco_wrap .list li a .num {
    width: auto;
  }
  #imprv .acco_wrap .list li a p {
    font-size: 14px;
  }
  #imprv .acco_wrap .list li a .icon {
    flex: none;
    display: inline-block;
  }
  #imprv .acco_wrap .list li a .icon::before {
    height: 50%;
  }
  #imprv .acco_wrap .list li a .icon::after {
    width: 50%;
  }
  #imprv .acco_wrap .list li .box {
    gap: 8%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #imprv .acco_wrap .list li .box .txt {
    width: 100%;
  }
}
@media screen and (max-width: 639px) {
  #imprv .acco_wrap .list li .box {
    flex-wrap: wrap;
    gap: 8%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #imprv .acco_wrap .list li .box .img_area {
    width: 100%;
    margin-bottom: 20px;
  }
  #imprv .acco_wrap .list li .box .img_area .img {
    width: 100%;
  }
  #imprv .acco_wrap .list li .box .txt {
    width: 100%;
  }
}
#prod .prod_list {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#prod .prod_list li {
  position: relative;
}
#prod .prod_list li + li {
  border-top: 1px solid #ddd;
}
#prod .prod_list li a {
  display: flex;
  gap: 425px;
  align-items: center;
  padding: 15px 0;
}
#prod .prod_list li a p {
  font-size: 24px;
  color: #777;
}
#prod .prod_list li .img {
  opacity: 0;
  position: absolute;
  right: 150px;
  top: -6vw;
  width: 200px;
  height: 240px;
  background-color: #888;
  z-index: 1;
}
#prod .prod_list li.on .img {
  opacity: 1;
}

@media screen and (max-width: 999px) {
  #prod .prod_list li a {
    display: flex;
    gap: 5%;
  }
  #prod .prod_list li a p {
    font-size: 20px;
  }
  #prod .prod_list li .img {
    right: 0;
    width: 150px;
    height: 180px;
  }
}
#collab h1 {
  margin-bottom: 10px;
}
#collab .collab_list {
  display: flex;
  border: 1px solid #ddd;
}
#collab .collab_list li {
  flex: 1;
}
#collab .collab_list li + li {
  border-left: 1px solid #ddd;
}
#collab .collab_list li a {
  display: block;
  padding: 20px 0;
  height: 100%;
  text-align: center;
}
#collab .collab_list li a .name {
  writing-mode: tb;
}
#collab .collab_list li .box {
  display: none;
}
#collab .collab_list li .box .txt_area {
  display: flex;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
#collab .collab_list li .box .img_area {
  padding: 30px;
}
#collab .collab_list li .box .img_area .img {
  width: 400px;
  height: 400px;
  background: #000;
}
#collab .collab_list li.on {
  flex-shrink: 0;
}
#collab .collab_list li.on a {
  display: none;
}
#collab .collab_list li.on .box {
  display: block;
}

@media screen and (max-width: 999px) {
  #collab .collab_list li .box .img_area .img {
    width: 280px;
    height: 280px;
  }
}
@media screen and (max-width: 639px) {
  #collab .collab_list {
    flex-wrap: wrap;
  }
  #collab .collab_list li {
    flex: none;
    width: 100%;
  }
  #collab .collab_list li + li {
    border-left: 0;
    border-top: 1px solid #ddd;
  }
  #collab .collab_list li a {
    padding: 25px 20px;
    text-align: left;
  }
  #collab .collab_list li a .name {
    writing-mode: unset;
  }
  #collab .collab_list li .box .img_area .img {
    width: 100%;
    height: 280px;
  }
}
#partnership h1 {
  margin-bottom: 20px;
}
#partnership .prs_wrap {
  display: flex;
}
#partnership .prs_wrap .item {
  width: 49%;
  border-top: 1px solid #ddd;
}
#partnership .prs_wrap .item + .item {
  margin-left: 2%;
}
#partnership .prs_wrap .item .name {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#partnership .prs_wrap .item .img_area .img {
  width: 100%;
  height: 500px;
  background: #ddd;
}

@media screen and (max-width: 999px) {
  #partnership .prs_wrap {
    flex-wrap: wrap;
  }
  #partnership .prs_wrap .item {
    width: 100%;
    border-top: 1px solid #ddd;
  }
  #partnership .prs_wrap .item + .item {
    margin: 80px 0 0 0;
  }
  #partnership .prs_wrap .item .img_area .img {
    height: 300px;
  }
}
#news .content {
  display: flex;
  gap: 220px;
}
#news .content .title_area {
  display: flex;
  flex-shrink: 0;
  width: 210px;
  flex-direction: column;
  justify-content: space-between;
}
#news .content .title_area .btn_view {
  width: 62px;
}
#news .content .txt_area {
  flex: 1;
}
#news .content .txt_area .news_list {
  display: flex;
}
#news .content .txt_area .news_list li {
  width: 410px;
  padding: 20px;
  border: 1px solid #222;
}
#news .content .txt_area .news_list li .inner_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#news .content .txt_area .news_list li .inner_area .cont {
  padding-bottom: 100px;
}
#news .content .txt_area .news_list li .inner_area .cont span {
  display: inline-block;
  margin-bottom: 15px;
  color: #888;
}
#news .content .txt_area .news_list li .inner_area .cont .title {
  margin-bottom: 20px;
  font-size: 20px;
}
#news .content .txt_area .news_list li + li {
  width: 360px;
  padding-right: 80px;
  border-left: 0;
  border-top-right-radius: 170px;
  border-bottom-right-radius: 170px;
}
#news .content .btn_view {
  display: inline-block;
  width: 80px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  font-size: 14px;
}

@media screen and (max-width: 1300px) {
  #news .content {
    gap: 20px;
  }
  #news .content .title_area {
    width: calc(100% - 790px);
  }
  #news .content .txt_area {
    flex: 1;
  }
  #news .content .txt_area .news_list {
    display: flex;
  }
  #news .content .txt_area .news_list li {
    width: 410px;
    padding: 20px;
    border: 1px solid #222;
  }
  #news .content .txt_area .news_list li .inner_area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  #news .content .txt_area .news_list li .inner_area .cont {
    padding-bottom: 100px;
  }
  #news .content .txt_area .news_list li .inner_area .cont span {
    display: inline-block;
    margin-bottom: 15px;
    color: #888;
  }
  #news .content .txt_area .news_list li .inner_area .cont .title {
    margin-bottom: 20px;
    font-size: 20px;
  }
  #news .content .txt_area .news_list li + li {
    width: 360px;
    padding-right: 80px;
    border-left: 0;
    border-top-right-radius: 170px;
    border-bottom-right-radius: 170px;
  }
}
@media screen and (max-width: 999px) {
  #news .content {
    gap: 20px;
    flex-wrap: wrap;
  }
  #news .content .title_area {
    width: 100%;
    flex-direction: unset;
  }
  #news .content .title_area .btn_view {
    width: auto;
  }
  #news .content .txt_area .news_list li {
    width: 50%;
  }
  #news .content .txt_area .news_list li + li {
    width: 50%;
  }
}
@media screen and (max-width: 639px) {
  #news .content .txt_area .news_list {
    flex-wrap: wrap;
  }
  #news .content .txt_area .news_list li {
    width: 100%;
  }
  #news .content .txt_area .news_list li + li {
    width: 100%;
    padding-right: 20px;
    border-top: 0;
    border-left: 1px solid #222;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.members section.first {
  margin-bottom: 80px;
}
.members section.first .cont_wrap {
  border-top: 2px solid #222;
}
.members section.first .line {
  margin-top: 30px;
}
.members section.first article {
  height: 500px;
  background-color: #000;
}
.members section .cont_wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
.members section .cont_wrap .left {
  width: 20%;
}
.members section .cont_wrap .left p {
  font-size: 20px;
}
.members section .cont_wrap .right {
  width: calc(80% - 100px);
}
.members section .cont_wrap .right .box.line .btn_view {
  display: inline-block;
  margin-top: 50px;
  color: #222;
  border-bottom: 1px solid #000;
}
.members section .cont_wrap .right .box h2 {
  margin-bottom: 30px;
}
.members section .cont_wrap .right .cont_area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.members section .cont_wrap .right .cont_area .item {
  width: calc(50% - 50px);
}
.members section .cont_wrap .right .cont_area .txt {
  word-break: break-all;
}
.members section .cont_wrap .right .cont_area .txt p + p {
  margin-top: 20px;
}
.members section .cont_wrap .line {
  padding-top: 10px;
  border-top: 2px solid #222;
}
.members section.last .left p {
  font-size: 18px;
}
.members section.last .left p span {
  display: block;
  font-weight: bold;
}
.members section.last .right .box + .box {
  margin-top: 100px;
}
.members section.last .right .cont_area {
  flex-wrap: wrap;
  gap: 50px 5%;
}
.members section.last .right .cont_area article {
  width: 30%;
}
.members section.last .right .cont_area article .pic {
  height: 250px;
  margin-bottom: 15px;
}
.members section.last .right .cont_area article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.members section.last .right .cont_area article .info p {
  font-weight: bold;
}
.members section.last .right .cont_area article .info .dept {
  display: inline-block;
  margin-top: 15px;
  color: #888;
}
.members section.last .right .list_area ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 5%;
}
.members section.last .right .list_area ul li {
  width: 45%;
}
.members section.last .right .list_area ul li .title {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font: bold 16px "arial";
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 999px) {
  .members section.first article {
    height: 500px;
  }
  .members section.first .cont_area {
    gap: 50px;
  }
  .members section .cont_wrap .left {
    width: 100%;
    margin-bottom: 30px;
  }
  .members section .cont_wrap .left p {
    font-size: 18px;
  }
  .members section .cont_wrap .left p span {
    display: inline-block;
  }
  .members section .cont_wrap .right {
    width: 100%;
  }
  .members section.last .left p {
    font-size: 18px;
  }
  .members section.last .right .line {
    border-top: 0;
  }
  .members section.last .right .box + .box {
    margin-top: 50px;
  }
}
@media screen and (max-width: 639px) {
  .members section.first {
    margin-bottom: 40px;
  }
  .members section.first article {
    height: 300px;
    margin-top: 40px;
  }
  .members section.first .cont_area {
    gap: 0;
  }
  .members section .cont_wrap .right {
    width: 100%;
  }
  .members section .cont_wrap .right .box.line .btn_view {
    margin: 20px 0;
  }
  .members section .cont_wrap .right .cont_area .item {
    width: 100%;
  }
  .members section .cont_wrap .right .cont_area .txt p + p {
    margin-top: 10px;
  }
  .members section.last .right .cont_area {
    flex-wrap: wrap;
    gap: 50px 0;
  }
  .members section.last .right .cont_area article {
    width: 100%;
  }
  .members section.last .right .list_area ul {
    gap: 30px 0;
  }
  .members section.last .right .list_area ul li {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
