* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background: #efefef;
}
header .header_inner {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  padding: 21px 2% 0;
}
header .header_inner h1 {
  margin-top: -9px;
}
header .header_inner nav {
  margin-left: 50px;
}
header .header_inner nav .gnb {
  display: flex;
  gap: 20px;
}
header .header_inner nav .gnb a {
  font: 16px "arial";
}
header .header_inner .util {
  display: flex;
  gap: 15px;
  margin-left: auto;
}
header .header_inner .util li a {
  font: 16px "arial";
}
header .header_inner a {
  color: #464644;
}

.visual_wrap {
  padding-top: 70px;
  margin-bottom: 110px;
}
.visual_wrap h1 {
  display: flex;
  font: bold 140px "arial";
  align-items: center;
  margin-bottom: 30px;
  letter-spacing: -0.01em;
}
.visual_wrap h1 .title:nth-of-type(2) {
  margin-left: 30px;
}
.visual_wrap h1 .title.small {
  padding: 50px 40px 0 0;
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 0em;
}
.visual_wrap h1 .title.small span {
  display: block;
}
.visual_wrap h1 .title.small span.line {
  width: 170px;
  height: 1px;
  margin-top: 10px;
  background-color: #222;
}
.visual_wrap h1 .title.last {
  font-style: italic;
}
.visual_wrap .img {
  width: 100%;
  height: 400px;
  background-color: #efefef;
  margin-bottom: 20px;
}
.visual_wrap .txt_wrap {
  display: flex;
  justify-content: space-between;
}
.visual_wrap .txt_wrap .txt {
  position: relative;
  width: 50%;
  padding-top: 10px;
}
.visual_wrap .txt_wrap .txt::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #efefee;
}
.visual_wrap .txt_wrap .txt .dot {
  position: absolute;
  right: 0;
  top: 10px;
  background-color: #222;
  border-radius: 100%;
}
.visual_wrap .txt_wrap .btn {
  display: inline-block;
  width: 140px;
  height: 28px;
  font: 12px/28px "arial";
  background-color: #000;
  border-radius: 14px;
  text-align: center;
  color: #fff;
}

.new_product .content {
  display: flex;
  gap: 30px;
}
.new_product .content .title_area {
  flex-shrink: 0;
  width: 140px;
}
.new_product .content .product_area {
  flex-grow: 1;
}
.new_product .content .product_area .product_list::after {
  content: "";
  display: block;
  clear: both;
}
.new_product .content .product_area .product_list .item {
  float: left;
  width: 240px;
}
.new_product .content .product_area .product_list .item .slide_wrap {
  width: 100%;
  height: 240px;
  margin-bottom: 10px;
  background: #efefef;
}
.new_product .content .product_area .product_list .item.center {
  margin-left: 20px;
  width: 410px;
}
.new_product .content .product_area .product_list .item.center .slide_wrap {
  width: 100%;
  height: 410px;
}
.new_product .content .product_area .product_list .item.last {
  margin-left: 110px;
}
.new_product .content .product_area .product_list .item a {
  display: flex;
  justify-content: space-between;
  color: #222;
}
.new_product .content .product_area .product_list .item a .info .name {
  font-weight: 600;
}
.new_product .content .product_area .product_list .item a .info .txt {
  color: #888;
}
.new_product .content .product_area .product_list .item a .price {
  font-weight: 600;
}

.imprv_wrap .content {
  display: flex;
  gap: 220px;
  margin-bottom: 50px;
}
.imprv_wrap .content .title_area {
  flex-shrink: 0;
  width: 210px;
}
.imprv_wrap .content .txt_area {
  width: 410px;
}
.imprv_wrap .content .txt_area p:first-of-type {
  margin-bottom: 20px;
  font-size: 20px;
}
.imprv_wrap .acco_wrap {
  margin-bottom: 30px;
}
.imprv_wrap .acco_wrap .list li {
  border-bottom: 1px solid #ddd;
}
.imprv_wrap .acco_wrap .list li:last-of-type {
  border: 0;
}
.imprv_wrap .acco_wrap .list li a {
  display: flex;
  gap: 220px;
  padding: 15px 0;
  color: #222;
  font: bold 18px "arial";
}
.imprv_wrap .acco_wrap .list li a .num {
  flex-shrink: 0;
  width: 210px;
}
.imprv_wrap .acco_wrap .list li a .icon {
  position: relative;
  margin-left: auto;
  width: 30px;
  height: 30px;
  border: 1px solid #222;
  border-radius: 50%;
}
.imprv_wrap .acco_wrap .list li a .icon::before, .imprv_wrap .acco_wrap .list li a .icon::after {
  content: "";
  position: absolute;
  background-color: #222;
}
.imprv_wrap .acco_wrap .list li a .icon::before {
  left: 50%;
  top: 6px;
  bottom: 6px;
  width: 2px;
  transform: translateX(-50%);
}
.imprv_wrap .acco_wrap .list li a .icon::after {
  top: 50%;
  left: 6px;
  right: 6px;
  height: 2px;
  transform: translateY(-50%);
}
.imprv_wrap .acco_wrap .list li .box {
  gap: 130px;
  padding-bottom: 30px;
  display: none;
}
.imprv_wrap .acco_wrap .list li .box .img_area {
  flex-shrink: 0;
  width: 300px;
}
.imprv_wrap .acco_wrap .list li .box .img_area .img {
  width: 150px;
  height: 150px;
  background-color: #ddd;
}
.imprv_wrap .acco_wrap .list li .box .txt {
  width: 410px;
}
.imprv_wrap .acco_wrap .list li .box .txt p + P {
  margin-top: 20px;
}
.imprv_wrap .acco_wrap .list li.on .box {
  display: flex;
}
.imprv_wrap .btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imprv_wrap .btn_wrap .btn {
  display: inline-block;
  height: 40px;
  padding: 0 30px;
  font: 12px/38px "arial";
  border: 1px solid #000;
  border-radius: 20px;
  text-align: center;
  color: #000;
}

.prod_wrap .prod_list {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.prod_wrap .prod_list li {
  position: relative;
}
.prod_wrap .prod_list li + li {
  border-top: 1px solid #ddd;
}
.prod_wrap .prod_list li a {
  display: flex;
  gap: 425px;
  align-items: center;
  padding: 15px 0;
}
.prod_wrap .prod_list li a p {
  font-size: 24px;
  color: #777;
}
.prod_wrap .prod_list li .img {
  opacity: 0;
  position: absolute;
  right: 150px;
  top: -35px;
  width: 120px;
  height: 120px;
  background-color: #888;
  z-index: 1;
}

.collab h1 {
  margin-bottom: 10px;
}
.collab .collab_list {
  display: flex;
  border: 1px solid #ddd;
}
.collab .collab_list li {
  flex: 1;
}
.collab .collab_list li + li {
  border-left: 1px solid #ddd;
}
.collab .collab_list li a {
  display: block;
  padding: 20px 0;
  height: 100%;
  text-align: center;
}
.collab .collab_list li a .name {
  writing-mode: tb;
}
.collab .collab_list li .box {
  display: none;
}
.collab .collab_list li .box .txt_area {
  display: flex;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.collab .collab_list li .box .img_area {
  padding: 30px;
}
.collab .collab_list li .box .img_area .img {
  width: 400px;
  height: 400px;
  background: #000;
}
.collab .collab_list li.on {
  flex-shrink: 0;
}
.collab .collab_list li.on a {
  display: none;
}
.collab .collab_list li.on .box {
  display: block;
}

main section {
  margin-bottom: 180px;
}
main section:last-child {
  margin-bottom: 0;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #222;
  border-radius: 100%;
}

/*# sourceMappingURL=style.css.map */
