//common
@import 'common/reset';
@import 'common/header';

//main
@import 'main/visual';
@import 'main/newproduct';
@import 'main/imprv';

main {
	section {
		margin-bottom: 180px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.inner {
	width: 1200px;
	margin: 0 auto;
}
