.gallery {
	.loading {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
		z-index: 3;
		transition: opacity 1s;

		&.off {
			opacity: 0;
			z-index: 2;
		}
	}

	.top_wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 20px;

		.search_box {
			margin-bottom: 10px;

			input[type='text'] {
				padding: 10px;
				border: 1px solid #ddd;
			}
		}

		button {
			padding: 10px 20px;
			background-color: #dee3dd;
			border: 1px solid #6f746e;
		}
	}

	.gallery_wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 80px 0;
		opacity: 0;
		transform: translateY(100px);
		transition: 1s;

		&.on {
			opacity: 1;
			transform: translateY(0);
		}

		li {
			width: 32%;

			> div {
				padding: 15px;
				box-shadow: rgba(0, 0, 0, 0.15) 0 15px 25px, rgba(0, 0, 0, 0.05) 0 5px 10px;

				.pic {
					height: 300px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.profile {
					position: relative;
					display: flex;
					justify-content: center;
					flex-direction: column;
					width: 100%;
					padding: 50px 0 30px;
					text-align: center;

					img {
						position: absolute;
						left: 50%;
						top: 0;
						width: 60px;
						height: 60px;
						border-radius: 50%;
						border: 5px solid #fff;
						transform: translateX(-50%);
						margin-top: -25px;
						box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
					}

					p {
						margin-bottom: 10px;
						font-weight: bold;
					}

					.userid {
						cursor: pointer;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.gallery {
		.gallery_wrap {
			li {
				width: 49%;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.gallery {
		.top_wrap {
			flex-wrap: wrap;

			.btn_wrap {
				display: flex;
				justify-content: space-between;
				flex: none;
				width: 100%;
				margin-bottom: 20px;
				gap: 10px;

				button {
					width: 50%;
				}
			}

			.search_box {
				flex: none;
				width: 100%;

				input[type='text'] {
					width: calc(100% - 90px);
				}
			}
		}

		.gallery_wrap {
			gap: 40px 0;

			li {
				width: 100%;
			}
		}
	}
}
