.location {
	.map_wrap {
		#map {
			width: 100%;
			height: 400px;
			background: #efefef;
			position: relative;
		}
	}

	.branch_list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		border: 1px solid #111;

		li {
			flex: 1;
			padding: 10px 0;
			text-align: center;
			cursor: pointer;

			+ li {
				// border-left: 1px solid #111;
			}
		}
	}
}
