.members {
	form {
		table {
			width: 100%;
			border: none;
			border-top: 2px solid #333;
			border-bottom: 2px solid #333;

			th,
			td {
				border: none;
				border-bottom: 1px solid #ddd;
				padding: 16px 25px;
			}
			th {
				width: 20%;

				input[type='submit'],
				input[type='reset'] {
					width: 30%;
					height: 40px;
					border: 1px solid #333;
					margin: 10px;
					font: bold 14px/40px 'arial';
					color: #555;
					cursor: pointer;
					transition: 0.5s;

					&:hover {
						background: #333;
						color: #fff;
					}
				}
			}

			td {
				border-left: 1px solid #aaa;

				input[type='text'],
				input[type='password'],
				input[type='email'],
				select,
				textarea {
					width: 60%;
					background: rgba(0, 0, 0, 0.03);
					padding: 10px;
					border: 1px solid #aaa;
					resize: none;
				}
				input[type='checkbox'],
				input[type='radio'] {
					margin-right: 30px;
				}

				p {
					width: 100%;
					color: hotpink;
					margin-top: 5px;
					font: 11px/1 '맑은 고딕';
				}
			}
		}
	}
}
