#prod {
	.prod_list {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		li {
			position: relative;

			+ li {
				border-top: 1px solid #ddd;
			}

			&.on {
				.img {
					opacity: 1;
				}

				i {
					opacity: 1;
					visibility: visible;
				}
			}

			a {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 20px 0;

				p {
					width: 26%;
					font-size: 24px;
					color: #777;
				}

				i {
					opacity: 0;
					visibility: hidden;
				}
			}

			.img {
				opacity: 0;
				position: absolute;
				right: 150px;
				top: -6vw;
				width: 200px;
				height: 240px;
				background-color: #888;
				z-index: 1;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#prod {
		.prod_list {
			li {
				a {
					p {
						width: calc(100% - 60px);
						font-size: 20px;
					}
				}

				.img {
					right: 10vw;
					width: 150px;
					height: 180px;
				}
			}
		}
	}
}
