.prod_wrap {
	.prod_list {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		li {
			position: relative;

			+ li {
				border-top: 1px solid #ddd;
			}

			a {
				display: flex;
				gap: 425px;
				align-items: center;
				padding: 15px 0;

				p {
					font-size: 24px;
					color: #777;
				}
			}

			.img {
				opacity: 0;
				position: absolute;
				right: 150px;
				top: -35px;
				width: 120px;
				height: 120px;
				background-color: #888;
				z-index: 1;
			}
		}
	}
}
