#scroll_navi {
	position: fixed;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);

	li {
		+ li {
			margin-top: 20px;
		}

		&.on {
			a {
				background: #000;
				height: 80px;
			}
		}
		a {
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background: #efefef;
			transition: 0.5s;
		}
	}
}
