#visual {
	padding-top: 70px;
	margin-bottom: 110px;

	.title {
		display: flex;
		font: bold 140px 'arial';
		align-items: center;
		margin-bottom: 30px;
		letter-spacing: -0.01em;

		p {
			&:nth-of-type(2) {
				margin-left: 30px;
			}
			&.small {
				padding: 50px 40px 0 0;
				margin-left: 30px;
				font-size: 14px;
				letter-spacing: 0em;

				span {
					display: block;

					&.line {
						width: 170px;
						height: 1px;
						margin-top: 10px;
						background-color: #222;
					}
				}
			}
			&.last {
				font-style: italic;
			}
		}
	}

	.img {
		width: 100%;
		height: 400px;
		background-color: #efefef;
		margin-bottom: 20px;
	}

	.txt_wrap {
		display: flex;
		justify-content: space-between;
	}
}
