.visual_wrap {
	padding-top: 70px;
	margin-bottom: 110px;

	h1 {
		display: flex;
		font: bold 140px 'arial';
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		letter-spacing: -0.01em;

		.title {
			&:nth-of-type(2) {
				margin-left: 30px;
			}
			&.small {
				padding: 50px 40px 0 0;
				margin-left: 30px;
				font-size: 14px;
				letter-spacing: 0em;

				span {
					display: block;

					&.line {
						width: 170px;
						height: 1px;
						margin-top: 10px;
						background-color: #222;
					}
				}
			}
			&.last {
				font-style: italic;
			}
		}
	}

	.img {
		width: 100%;
		height: 400px;
		background-color: #efefef;
		margin-bottom: 20px;
	}

	.txt_wrap {
		display: flex;
		justify-content: space-between;

		.txt {
			position: relative;
			width: 50%;
			padding-top: 10px;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 2px;
				background-color: #efefee;
			}

			.dot {
				position: absolute;
				right: 0;
				top: 10px;
			}
		}
		.btn {
			display: inline-block;
			width: 140px;
			height: 28px;
			font: 12px/28px 'arial';
			background-color: #000;
			border-radius: 14px;
			text-align: center;
			color: #fff;
		}
	}
}

@media screen and (max-width: 1300px) {
	.visual_wrap {
		h1 {
			font-size: 10vw;
		}

		.txt_wrap {
			.txt {
				padding-right: 5%;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.visual_wrap {
		h1 {
			font-size: 8vw;

			.title {
				&.small {
					padding: 20px 20px 0 0;
					margin-left: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.visual_wrap {
		padding-top: 30px;

		h1 {
			.title {
				&:nth-of-type(2) {
					margin-left: 10px;
				}

				&.small {
					padding: 10px 10px 0 0;
					margin-left: 10px;
					font-size: 12px;

					span {
						&.line {
							width: 130px;
							height: 1px;
							margin-top: 10px;
						}
					}
				}
				&.last {
					font-style: italic;
				}
			}
		}

		.img {
			height: 300px;
		}

		.txt_wrap {
			flex-wrap: wrap;

			.txt {
				padding-right: 0;
				width: 100%;
				margin-bottom: 30px;
			}

			.btn {
				display: block;
				height: 40px;
				font: 12px/40px 'arial';
				border-radius: 20px;
				margin: 0 auto;
			}
		}
	}
}
