//main
main {
	padding-bottom: 200px;

	section {
		margin-bottom: 150px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.inner {
		max-width: 1200px;
		width: auto;
		margin: 0 auto;
	}

	// .cross {
	// 	position: relative;
	// 	width: 20px;
	// 	height: 20px;

	// 	span {
	// 		position: absolute;
	// 		background: #222;

	// 		&.row {
	// 			top: 50%;
	// 			left: 0;
	// 			width: 100%;
	// 			height: 4px;
	// 			margin-top: -2px;
	// 		}

	// 		&.col {
	// 			top: 0;
	// 			left: 50%;
	// 			width: 4px;
	// 			height: 100%;
	// 			margin-left: -2px;
	// 		}
	// 	}
	// }

	.cross {
		position: relative;
		width: 32px;
		height: 32px;

		span {
			position: absolute;
			background-color: #222;

			&.row {
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 15px;
				height: 3px;
			}

			&.col {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 3px;
				height: 15px;
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	main {
		.inner {
			max-width: 100%;
			padding: 0 3vw;
		}
	}
}

@media screen and (max-width: $tablet) {
	main {
		.inner {
			padding: 0 5vw;
		}
	}
}

.container {
	padding-bottom: 150px;

	section {
		.inner {
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;
		}

		&:first-of-type {
			padding-top: 100px;
		}
	}

	.sub_visual {
		width: 100%;
		height: 300px;
		background: gray;
	}
}

@media screen and (max-width: 1300px) {
	.container {
		section {
			.inner {
				max-width: 100%;
				padding: 0 5vw;
			}
		}
	}
}
